---
import { cn } from '../lib/utils';

interface Props {
  className?: string;
  [key: string]: any;
}

const { className = "", ...props } = Astro.props;
---

<div class={cn("rounded-xl border bg-slate-800/50 text-slate-100 shadow glass p-6 border-white/10", className)} {...props}>
  <slot />
</div>
